<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="static/js/audio.js"></script>
    <script src="static/js/konami.js"></script>
    <script src="static/js/greetings.js"></script>
    <audio id="jeff" src="../includes/Jeff.mp3" preload="auto"></audio>
    <title>Site Éducatif sur le Changement Climatique</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
        }

        header {
            background-color: #2c3e50;
            color: #ecf0f1;
            padding: 10px;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: space-around;
            background-color: #34495e;
            color: #ecf0f1;
            padding: 10px;
            text-align: center;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        nav a {
            text-decoration: none;
            color: #ecf0f1;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: #3498db;
        }

        section {
            padding: 60px 20px 20px;
        }

        article {
            margin-bottom: 20px;
            padding: 20px;
            background-color: #ecf0f1;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #2c3e50;
        }

        h3 {
            color: #3498db;
        }

        p {
            color: #555;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 8px;
        }

        body.konami {
            background-color: #000;
            color: #fff;:
        }
    </style>
</head>
<body>
    <!--Hello there-->
    <nav>
        <a href="#Main">Accueil</a>
        <a href="#articles">Articles</a>
        <a href="#conseils">Conseils</a>
        <a href="/quizz">Quiz</a>
    </nav>
    <div class="hidden-content" id="hiddenContent">Whoa i'm shocked you found it, congratz</div>
    <div class="greetingClas" id="greetingName">
        <div id="greetingContainer"></div>
    </div>
    <section id="articles">
        <!--Hmmmm, you're a little curious, don't you?-->
        <h2>Articles</h2>
        <article>
            <h3>Quels sont les impacts du changement climatique en France ?</h3>
            <p>Canicules, inondations, sécheresse… la France est loin d’être épargnée par le changement climatique et ses impacts. Tour d’horizon des risques qui menacent l’hexagone..</p>

            <a href="https://reseauactionclimat.org/quels-sont-les-impacts-du-changement-climatique-en-france/" target="_blank">https://reseauactionclimat.org/quels-sont-les-impacts-du-changement-climatique-en-france/</a>
        </article>
        <article>
            <h3>The Intergovernmental Panel on Climate Change (IPCC) is the United Nations body for assessing the science related to climate change.</h3>
            <p>The IPCC prepares comprehensive Assessment Reports about the state of scientific, technical and socio-economic knowledge on climate change, its impacts and future risks, and options for reducing the rate at which climate change is taking place. It also produces Special Reports on topics agreed to by its member governments, as well as Methodology Reports that provide guidelines for the preparation of greenhouse gas inventories. The latest report is the Sixth Assessment Report which consists of three Working Group contributions and a Synthesis Report. The Working Group I contribution was finalized in August 2021, the Working Group II contribution in February 2022, the Working Group III contribution in April 2022 and the Synthesis Report in March 2023. </p>
            <a href="https://www.ipcc.ch/" target="_blank">https://www.ipcc.ch/</a>
        </article>
        <article>
            <h3>Avis COP28 : Le bilan mondial et ses implications pour la politique climatique de la France</h3>
            <p>La 28ème Conférence des Parties sur le climat de l'ONU (COP 28), qui se déroule du 30 novembre au 12 décembre 2023 à Dubaï aux Émirats arabes unis, sera celle du premier bilan mondial, qui doit permettre l’évaluation des progrès collectifs accomplis par rapport aux objectifs de l’Accord de Paris. Ce bilan a lieu tous les cinq ans et porte sur l’ensemble des piliers de l’action climatique des pays.

                Conformément à son mandat, le Haut conseil pour le climat rend un avis, dans le cadre d'une autosaisine, pour éclairer les enjeux de la COP et le rôle de la France dans la dynamique internationale en réponse au changement climatique, et rappelle ses recommandations pour l'action climatique française.

                Le HCC sera également présent à la COP28 où il participera à un événement parallèle organisé en coordination avec le CIRED et l’DDRI sur le Pavillon de la France, le mercredi 6 décembre 2023 de 14h30 à 16h00. Celui-ci permettra d’aborder la question de la coopération internationale et des processus nationaux nécessaires pour rehausser l'ambition en 2025, en tirant notamment les enseignements de la politique climatique de la France. Pour plus d'informations : https://www.ecologie.gouv.fr/cop28-france </p>
                <a href="https://www.hautconseilclimat.fr/publications/avis-cop28-le-bilan-mondial-et-ses-implications-pour-la-politique-climatique-de-la-france/" target="_blank">https://www.hautconseilclimat.fr/publications/avis-cop28-le-bilan-mondial-et-ses-implications-pour-la-politique-climatique-de-la-france/</a>
        </article>
        <article>
            <h3>Réussir la transition écologique</h3>
            <p>À l’ADEME, nous sommes résolument engagés dans la lutte contre le réchauffement climatique et la dégradation des ressources.
                Sur le terrain, nous mobilisons les citoyens, les acteurs économiques et les territoires afin de leur donner les moyens de progresser.
                Face à l’urgence, nous nous fixons des objectifs ambitieux et appelons à une mobilisation générale : il faut faire plus vite.</p>
            <a href="https://www.ademe.fr/" target="_blank">https://www.ademe.fr/</a>
        </article>
        <article>
            <h3>L’urgence climatique</h3>
            <p>Notre système climatique repose sur un équilibre très fragile, aujourd'hui perturbé par les émissions de gaz à effet de serre liées aux activités humaines. Retour sur les causes du changement climatique et sur le climat d'aujourd'hui et de demain.</p>
            <a href="https://reseauactionclimat.org/urgence-climatique/" target="_blank">https://reseauactionclimat.org/urgence-climatique/</a>
        </article>
        <article>
            <h3>6e rapport du GIEC : quelles solutions face au changement climatique ?</h3>
            <p>Le GIEC a publié le lundi 4 avril 2022 son nouveau rapport "Atténuation du changement climatique", qui présente des solutions pour réduire nos émissions de gaz à effet de serre et limiter les conséquences du changement climatique.</p>
            <a href="https://reseauactionclimat.org/6e-rapport-du-giec-quelles-solutions-face-au-changement-climatique/" target="_blank">https://reseauactionclimat.org/6e-rapport-du-giec-quelles-solutions-face-au-changement-climatique/</a>
        </article>
        <!--What do you expect to see?-->
    </section>

    <section id="conseils">
        <!--Don't waste your time, you wont see anything here-->
        <h2>Conseils</h2>
        <article>
            <h3>Attention à la consommation alimentaire</h3>
            <p> Faire attention à la consommation de la nourriture est crucial, car à l'échelle individuelle, la nourriture peut avoir le plus d'impact. Vous pouvez calculer votre empreinte carbone :</p>
            <a href="https://nosgestesclimat.fr/" target="_blank">https://nosgestesclimat.fr/</a>
        </article>

        <article>
            <h3>Privilégiez la marche ou le vélo pour les petits trajets</h3>
            <p>Sur les petits trajets, privilégiez la marche ou le vélo. Cela permet à la fois d'économiser de l'essence et de réduire la pollution.</p>
        </article>
        <article>
            <h3>Économisez l'énergie sans frais :</h3>
            <ul>
                <li>Éteignez les lumières dans les pièces non utilisées.</li>
                <li>Utilisez des rideaux épais pour isoler votre domicile et réduire la nécessité de chauffer ou de climatiser.</li>
            </ul>
        </article>

        <article>
            <h3>Transport abordable et durable :</h3>
            <ul>
                <li>Utilisez le transport en commun, souvent plus économique que la voiture individuelle.</li>
                <li>Explorez des options de covoiturage avec des amis ou des voisins pour réduire les coûts.</li>
            </ul>
        </article>

        <article>
            <h3>Alimentation économique et écologique :</h3>
            <ul>
                <li>Achetez des fruits et légumes locaux en saison, souvent moins chers.</li>
                <li>Optez pour des protéines végétales abordables comme les légumineuses.</li>
            </ul>
        </article>

        <article>
            <h3>Économisez l'eau sans dépenser :</h3>
            <ul>
                <li>Réparez les fuites d'eau dès qu'elles se manifestent pour éviter des coûts supplémentaires.</li>
                <li>Utilisez un minuteur pendant la douche pour contrôler la consommation d'eau.</li>
            </ul>
        </article>

        <article>
            <h3>Recyclez avec ingéniosité :</h3>
            <ul>
                <li>Réutilisez les contenants en verre ou en plastique pour le stockage des aliments.</li>
                <li>Explorez des idées créatives de bricolage pour transformer les objets du quotidien en articles utiles.</li>
            </ul>
        </article>

        <article>
            <h3>Énergie renouvelable accessible :</h3>
            <ul>
                <li>Utilisez l'énergie solaire gratuitement en faisant sécher vos vêtements à l'extérieur.</li>
                <li>Explorez des projets DIY pour construire des petits chargeurs solaires.</li>
            </ul>
        </article>

        <article>
            <h3>Réduisez les déchets sans dépenser :</h3>
            <ul>
                <li>Faites du compost avec les déchets de cuisine pour enrichir votre jardin.</li>
                <li>Optez pour des produits d'occasion plutôt que neufs lorsque cela est possible.</li>
            </ul>
        </article>

        <article>
            <h3>Éducation et sensibilisation gratuites :</h3>
            <ul>
                <li>Suivez des sources d'information gratuites en ligne sur le changement climatique.</li>
                <li>Participez à des ateliers communautaires et des événements éducatifs gratuits.</li>
            </ul>
        </article>

        <article>
            <h3>Participation communautaire sans frais :</h3>
            <ul>
                <li>Rejoignez des groupes communautaires engagés dans des projets environnementaux bénévoles.</li>
                <li>Participez à des initiatives de nettoyage local ou de plantation d'arbres.</li>
            </ul>
        </article>

        <article>
            <h3>Soutien aux organismes environnementaux sans dépenser :</h3>
            <ul>
                <li>Partagez des informations sur les médias sociaux pour sensibiliser à moindre coût.</li>
                <li>Proposez votre temps bénévolement pour des initiatives environnementales locales.</li>
            </ul>
        </article>
        <div class="clickButton" id="buttonSound">
            <!--Okkkk you got it, try to play with your array the beginning of the combination is Kon....-->
            <button type="buttonEasterEgg" onclick="playSound()">click me</button>
        </div>
    </section>
</body>
</html>
